{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Edit</th>
                <td>
                    <a href="{{ path('app_user_edit', {'user': user.id}) }}" class="btn btn-success rounded-pill w-25 text-decoration-none text-white">Edit</a>
                </td>
            </tr>
            <tr>
                <th>All your reviews
                <td>
                    <a href="{{ path('app_user_review_show', {'user': user.id}) }}" class=" btn btn-success rounded-pill w-25text-decoration-none">Show</a>
                </td>
            </tr>
            {% if app.user %}
                {% if is_granted('ROLE_RESTORER') %}
                    <tr>
                        <th>All your restaurants
                        <td>
                            <a href="{{ path('app_restaurant_show', {'user': user.id}) }}" class="btn btn-success rounded-pill w-25 text-decoration-none">Show</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th>Delete</th>
                <td>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>

        </tbody>
    </table>


{% endblock %}
